.btn-sounds {
	font-family: "Roboto", sans-serif;
	color: white;
  	font-weight: 425;
	letter-spacing: 0.5px;
	background-color: rgba(140, 18, 94, 0.6);
	transition: background-color 0.3s ease;
	padding: 15px 20px;
	margin-bottom: 20px;
	border-radius: 4px;
	box-shadow: 0 13px 35px rgba(54, 113, 241, .1);
}

.btn-sounds:hover {
	color: white;
	background-color: rgba(16, 160, 147, 0.4);
}